@import "../../styles/colors.scss";

.officer-card {
	width: calc(25% - (30px * 0.75));
	position: relative;
	transition: 200ms ease-in-out;
	background-color: $color-ieee-blue-8;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #666;
	box-sizing: content-box;

	.officer-card-content {
		text-align: center;
		color: $color-white;
		overflow: hidden;

		.officer-card-text {
			padding: 10px;

			h3 {
				font-size: 22px;
				font-weight: 500;
			}

			p,
			i {
				font-size: 16px;
			}
		}

		.officer-card-image-wrapper {
			width: 90%;
			padding-top: 90%;
			position: relative;
			display: block;
			margin: 5%;
			margin-bottom: 0;
			overflow: hidden;
			border-radius: 5px;

			img {
				transform: scale(1.3);
				width: 100%;
				transition: 200ms ease-in-out;
				position: absolute;
				top: 0;
				left: 0;
			}

			.officer-card-image-hover {
				opacity: 0;
			}
		}
	}

	&:hover {
		transform: scale(1.1);
		background-color: $color-ieee-blue-9;

		.officer-card-content {
			.officer-card-image-wrapper {
				img {
					transform: scale(1);
				}

				img:nth-child(2) {
					opacity: 1;
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.officer-card {
		width: calc(33.333% - (30px * 0.66666));
	}
}

@media only screen and (max-width: 650px) {
	.officer-card {
		width: calc(50% - (30px * 0.5));
	}
}

@media only screen and (max-width: 500px) {
	.officer-card {
		width: 80%;
	}
}
