@import "../../styles/colors.scss";

.button {
	display: inline-flex;
	align-items: center;
	padding: 10px 20px;
	gap: 7px;
	border-radius: 50px;
	font-size: 0.85rem;
	font-weight: 600;
	border: none;
	background-color: $color-ieee-blue;
	color: $color-white;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	transition: 100ms ease-in-out;
	text-transform: uppercase;
	text-align: center;
	height: min-content;

	* {
		transition: 100ms ease-in-out;
	}

	> img {
		height: 15px;
		width: auto;
	}

	&:hover {
		filter: brightness(0.75);
	}

	&.light {
		background-color: $color-platinum;
		color: $color-black;

		&:hover {
			background-color: $color-light-grey;
			color: $color-black;
		}
	}

	&.outlined {
		padding: 15px 25px;
		border: 3px $color-white solid;
		background-color: transparent;
		position: relative;
		overflow: hidden;

		&:hover {
			color: $color-black;
			background-color: $color-white;
			filter: none;
		}

		&.member {

			> span {
				color: $color-ieee-blue-light;
			}

			&:hover > span {
				color: $color-ieee-blue;
			}
		}

		&.sponsor {

			> span {
				color: $color-ieee-purple-light;
			}

			&:hover > span {
				color: $color-ieee-purple;
			}
		}

		&.member, &.sponsor {

			white-space: nowrap;
			font-size: 1rem;
			transition-delay: 30ms;

			> span {
				transition-delay: 50ms;
			}

			&::before {
				content: "";
				position: absolute;
				background: $color-white;
				width: 0;
				height: 350%;
				left: 20%;
				top: 0%;
				transform: translateY(-70%) rotate(45deg);
				z-index: -1;
				transition: all 300ms ease-out;
				transform-origin: left;
			}
	
			&:hover {
				background-color: transparent;
				
				&::before {
					width: 90%;
				}
			}
		}
	}

	&.md {
		padding: 10px;
		font-size: 16px;
	}
}