@import "../../styles/colors.scss";

.navbar-container {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 0;
	z-index: 5;
	box-shadow: 0px 0px 70px 30px rgba(0, 0, 0, 0.6);
}

.navbar-background {
	position: fixed;
	top: 20px;
	left: 20px;
	right: 20px;
	height: 60px;
	border-radius: 10px;
	background-image: linear-gradient(to right, rgba(0, 125, 174, 0.6), rgba(0, 98, 152, 0.6));
	backdrop-filter: blur(10px);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	z-index: 7;
}

.navbar {
	position: fixed;
	height: 60px;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 8;
}

.navbar-content {
	grid-column: col-start 3 / span 8;
	display: flex;
	justify-content: center;
	position: relative;

	.navbar-logo {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		padding: 20px 10px;

		img {
			height: 20px;
			width: auto;
		}
	}

	.navbar-links {
		display: flex;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;

		.navbar-dropitem {
			position: relative;
			display: block;

			&:hover > .navbar-dropdown {
				opacity: 1;
				visibility: visible;
			}

			> .navbar-dropdown {
				text-decoration: none;
				transition: background-color 0ms ease-in-out;
				background: rgba(0, 73, 113, 0.75);
				backdrop-filter: blur(5px);
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
				position: absolute;
				top: calc(100% + 2px);
				list-style: none;
				display: flex;
				flex-direction: column;
				padding: 0;
				opacity: 0;
				visibility: hidden;
				// border-radius: 0 0 10px 10px;
				transform: translateZ(-10px);
			}

			> a {
				display: flex;
				align-items: center;

				img {
					margin-left: 5px;
					transform: rotate(90deg);
					height: 15px;
					width: auto;
					filter: brightness(0.9);
				}
			}

			&:hover {
				a {
					img {
						filter: brightness(1);
						transform: rotate(-90deg);
					}
				}
			}

			&.active {
				a {
					img {
						filter: brightness(1);
					}
				}
			}
		}

		* {
			transition: 200ms ease-in-out;
		}

		a {
			list-style: none;
			position: relative;
			text-decoration: none;
			text-align: center;
			color: #d7d9e1;
			font-size: 16px;
			padding: 15px 10px;
			display: block;
			text-transform: uppercase;
			font-weight: 500;

			&:hover {
				color: $color-white;
			}

			&::after {
				content: "";
				position: absolute;
				height: 2px;
				border-radius: 2px;
				background-color: $color-white;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				transition: 200ms ease-out;
			}
		}

		li.active > a {
		
			color: #FFF;

			&::after {
				width: calc(100% - 20px);
			}
		}

		li:not(.active) > a {

			&::after {
				content: "";
				position: absolute;
				height: 2px;
				border-radius: 2px;
				background-color: $color-white;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				transition: 200ms;
				opacity: 0;
				width: 0;
			}

			&:hover::after {
				opacity: 1;
				width: 10px;
			}
		}
	}

	.navbar-socials {
		background-color: #F2F2F2;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		padding: 5px 10px;
		border-radius: 50px;
		text-transform: uppercase;
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 0.9rem;
		transition: 150ms ease-in-out;

		&:hover {
			background-color: $color-light-grey;
		}
	}

	.navbar-menu-icon {
		height: 24px;
		width: 24px;
		padding: 13px;
		position: absolute;
		transition: 0.5s ease-in-out;
		cursor: pointer;
		display: none;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		span {
			position: absolute;
			width: 30px;
			height: 4px;
			border-radius: 4px;
			background: $color-white;
			opacity: 1;
			right: 0;
			transition: 0.25s ease-in-out;

			&:nth-child(1) {
				top: 13px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 23px;
			}

			&:nth-child(4) {
				top: 33px;
			}
		}

		&.opened {
			span {
				&:nth-child(1) {
					width: 0%;
					right: 15px;
					top: 23px;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					width: 0%;
					right: 15px;
					top: 23px;
				}
			}
		}
	}
	
}

@media only screen and (max-width: 1100px) {
	.navbar-container {
		.navbar {
			.navbar-content {
				width: 100%;
				height: 100%;

				.navbar-links {
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					position: absolute;
					height: auto;
					background: rgba(0, 73, 113, 0.75);
					backdrop-filter: blur(5px);
					top: 60px;
					border-radius: 15px;
					width: auto;
					right: 0;
					z-index: 6;
					padding: 10px;
					display: none;

					* {
						z-index: 5;
					}

					a {
						padding: 15px 15px;
					}

					.navbar-outlined {
						margin-left: 0px;

						&:hover {
							a {
								background-color: $color-white;
								color: $color-black;
							}
						}

						a {
							padding: 5;
							border: $color-white 3px solid;
							border-radius: 10px;
						}
					}

					&.opened {
						display: block;

						.navbar-dropitem {
							.navbar-dropdown {
								opacity: 1;
								visibility: visible;
								position: relative;
								border-radius: 0;
								background: transparent;
								backdrop-filter: none;
								box-shadow: none;

								.dropdown-dash-separator {
									width: 25px;
									border-bottom: $color-platinum 1px dashed;
									margin: 0 auto;
								}

								li {
									display: block;

									a {
										padding: 10px;
									}
								}
							}
						}
					}
				}

				.navbar-menu-icon {
					display: block;
				}

				.navbar-socials {
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.navbar-container {
		.navbar {
			top: 20px;
			left: 20px;
			right: 20px;
			height: 60px;
			padding: 0;
			position: absolute;

			.navbar-content {
				.navbar-menu-icon {
					right: 20px;
				}
			}
		}
	}
}