@import "../../styles/colors.scss";

.navbar-container {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5;
}

.navbar-shadow-box {
	box-shadow: 0px 0px 70px 30px $color-black;
	width: 100vw;
}

.navbar-background {
	position: fixed;
	top: 20px;
	left: 20px;
	right: 20px;
	height: 50px;
	border-radius: 10px;
	background-image: linear-gradient(to right, #007dae, $color-ieee-blue);
}

.navbar {
	position: fixed;
	height: 50px;
	top: 20px;
	left: 0;
	right: 0;
}

.navbar-content {
	grid-column: col-start 2 / span 10;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-logo {
	padding: 15px 0;

	img {
		height: 20px;
		padding: 0px;
		margin: 0px;
		display: block;
	}
}

.navbar-links {
	list-style: none;
	margin: 0;

	* {
		transition: 200ms ease-in-out;
	}

	li {
		display: inline-block;
		box-sizing: border-box;
	}

	li:last-child {
		border: $color-white 3px solid;
		border-radius: 15px;
		margin-left: 10px;
		padding: 0;
	}

	li:last-child a {
		padding: 7px 12px;
	}

	li:last-child:hover {
		background-color: $color-white;
	}

	li:last-child:hover a {
		border-bottom: 0;
		color: $color-black;
	}

	a {
		font-size: 16px;
		padding: 14px;
		text-decoration: none;
		display: block;
		box-sizing: content-box;
		color: $color-white;
	}

	a:hover {
		// border-bottom: $color-white 2px solid; // Shifts link up so not using rn
		transform: scale(1.05);
		color: #aaa;
	}
}
