@import "../../styles/colors.scss";

.navbar-container {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5;
	box-shadow: 0px 0px 70px 30px $color-black;
}

.navbar-shadow-box {
	width: 100vw;
	z-index: 5;
}

.navbar-background {
	position: fixed;
	top: 20px;
	left: 20px;
	right: 20px;
	height: 50px;
	border-radius: 10px;
	background-image: linear-gradient(to right, #007dae, $color-ieee-blue);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	z-index: 7;
}

.navbar {
	position: fixed;
	height: 50px;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 8;
}

.navbar-content {
	grid-column: col-start 2 / span 10;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;

	.navbar-list {
		width: 100%;
		display: flex;
		display: flex;
		align-items: center;
		position: relative;

		.navbar-list-logo {
			margin-right: auto;

			a {
				padding: 15px 0;
				display: block;
			}

			img {
				height: 20px;
				padding: 0px;
				margin: 0px;
				display: block;
			}
		}

		.navbar-menu-icon {
			padding: 0;
			cursor: pointer;
			display: none;

			> img {
				display: block;
			}
		}
	}

	.navbar-links {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;

		.navbar-dropitem {
			position: relative;
			display: block;

			&:hover > .navbar-dropdown {
				opacity: 1;
				visibility: visible;
			}

			> .navbar-dropdown {
				text-decoration: none;
				background-color: $color-ieee-blue-9;
				position: absolute;
				top: 100%;
				list-style: none;
				display: flex;
				flex-direction: column;
				padding: 0;
				opacity: 0;
				visibility: hidden;
				border-radius: 0 0 10px 10px;
				transform: translateZ(-10px);
			}

			> a {
				display: flex;
				align-items: center;

				img {
					margin-left: 5px;
					transform: rotate(90deg);
				}
			}

			&:hover {
				a {
					img {
						filter: brightness(0.8);
						transform: rotate(-90deg);
					}
				}
			}
		}

		.navbar-outlined {
			margin-left: 10px;

			&:hover {
				a {
					background-color: $color-white;
					color: $color-black;
				}
			}

			a {
				padding: 7px 12px;
				border: $color-white 3px solid;
				border-radius: 15px;
			}
		}

		* {
			transition: 200ms ease-in-out;
		}

		a {
			list-style: none;
			position: relative;
			text-decoration: none;
			text-align: center;
			color: $color-white;
			font-size: 16px;
			padding: 15px;
			display: block;

			&:hover {
				color: #ccc;
			}
		}
	}

	ul {
		list-style: none;
		padding: 0;
	}
}

@media only screen and (max-width: 800px) {
	.navbar-container {
		.navbar-background {
			top: 5vw;
			left: 5vw;
			right: 5vw;
		}

		.navbar {
			top: 5vw;
			left: 5vw;
			right: 5vw;

			.navbar-content {
				.navbar-list {
					.navbar-links {
						flex-direction: column;
						justify-content: flex-start;
						align-items: center;
						position: absolute;
						height: auto;
						background-color: #007dae;
						top: 50px;
						border-radius: 15px;
						width: auto;
						right: 0;
						z-index: 6;
						padding: 10px;
						display: none;

						* {
							z-index: 5;
						}

						a {
							padding: 15px 15px;
						}

						.navbar-outlined {
							margin-left: 0px;

							&:hover {
								a {
									background-color: $color-white;
									color: $color-black;
								}
							}

							a {
								padding: 5;
								border: $color-white 3px solid;
								border-radius: 10px;
							}
						}

						&.opened {
							display: block;

							.navbar-dropitem {
								.navbar-dropdown {
									opacity: 1;
									visibility: visible;
									position: relative;
									border-radius: 0;
									background-color: transparent;

									li {
										display: block;

										a {
											color: #ccc;
											padding: 10px;
										}
									}
								}
							}
						}
					}

					.navbar-menu-icon {
						display: block;
					}
				}
			}
		}
	}
}
