@import "../styles/colors.scss";

button {
	padding: 15px;
	border-radius: 10px;
	margin-right: 30px;
	cursor: pointer;
	border: 2px $color-white solid;
	background-color: transparent;
}

button > span {
	font-size: 20px;
	font-weight: 500;
	color: $color-white;
}

.button-member,
.button-member *,
.button-sponsor,
.button-sponsor * {
	transition: 100ms ease-in-out;
}

.button-member > span > span {
	color: $color-ieee-blue-light;
}

.button-sponsor {
	margin-right: 0;
}

.button-sponsor > span > span {
	color: $color-ieee-purple-light;
}

.button-member:hover,
.button-sponsor:hover {
	background-color: $color-white;
}

.button-member:hover > span,
.button-sponsor:hover > span {
	color: $color-black;
}
