@import "../../styles/colors.scss";

.events-section {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	gap: 40px 0;
	padding: 60px 0;
	background-color: $color-white;

	.events-container {
		display: flex;
		flex-wrap: wrap;
		max-width: 900px;
		gap: 30px;
		padding: 0 20px;
		width: 100%;
		box-sizing: border-box;
	}
}

@media only screen and (max-width: 500px) {
	.events-container {
		justify-content: center;
	}
}
