.grid-container {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	gap: 20px;
	position: relative;
}

@media screen and (max-width: 800px) {
	.grid-container {
		display: flex;
		flex-direction: column;
		padding: 0 5vw;
		gap: 0px;
	}
}
