@import "../../styles/colors.scss";

.gallery-section {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	li {
		height: 300px;
		flex-grow: 1;
	}

	li.break {
		flex-basis: 100%;
		height: 0;
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		vertical-align: bottom;
	}
}

@media screen and (max-width: 1000px) {
	li.break {
		height: auto;
	}
}
